@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 10px;
}
